<a href="https://colab.research.google.com/github/RahulJuluru2/unit3assignments/blob/main/U3W15_30_MovieRecommendationSystem_KNN_A_RJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

### Learning Objective

At the end of this experiment, you will be able to :

* Recommend movies to the users.

In [1]:
#@title Experiment Walkthrough Video
from IPython.display import HTML

HTML("""<video width="850" height="480" controls>
  <source src="https://cdn.talentsprint.com/talentsprint/archives/sc/aiml/aiml_labs_blr/movie_recommendation_system_knn.mp4" type="video/mp4">
</video>
""")

### Dataset

#### Description

The dataset chosen for this experiment is a subset of the original movielens dataset.

Consider the problem of recommending movies to users. You have M Users and N Movies. 
Now, you want to predict whether a given test user $x$ will watch movie $y$.

User $x$ has seen and not seen few movies in the past. We will use $x$'s movie watching history as a feature for our recommendation system.

You will use KNN to find the K nearest neighbour users (users with similar taste) to $x$, and make predictions based on their entries for movie $y$.

A user either had seen the movie (1) or not seen the movie (0). We can represent this as a matrix of size M×N. (M rows and N columns). We have actually used a dictionary with the keys userId and movieId to represent this matrix.

Each element of the matrix is either zero or one. If (u, m) entry in this matrix is 1, then the $u^{th}$ user has seen the movie $m$.

##### Training set
M×N binary matrix indicating seen/not-seen.
#### Test set: 
L test cases with $(x, y)$ pairs. $x$ is N-dimensional binary vector with missing $y^{th}$ entry - which we want to predict.

### Data Source

* AIML_DS_MOVIE-TRAIN_SMALLSUBSETOFMOVIELENSDATASET.csv

*  AIML_DS_MOVIE-TEST_SMALLSUBSETOFMOVIELENSDATASET.csv

This is a small subset of the original movielens dataset.
https://grouplens.org/datasets/movielens/


*  Let us  use KNN to find the K nearest neighbour users (users with similar taste) to $x$, and make predictions based on their entries for the movie $y$.

* We have given the code for Cosine distance, when computing nearest neighbours.

### Setup Steps

In [2]:
#@title Please enter your registration id to start: (e.g. P181900101) { run: "auto", display-mode: "form" }
Id = "2216842" #@param {type:"string"}

In [3]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "9959488784" #@param {type:"string"}

In [4]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook= "U3W15_30_MovieRecommendationSystem_KNN_A" #name of the notebook

def setup():
#  ipython.magic("sx pip3 install torch")
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/AIML_DS_MOVIE-TEST_SMALLSUBSETOFMOVIELENSDATASET.csv")
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/AIML_DS_MOVIE-TRAIN_SMALLSUBSETOFMOVIELENSDATASET.csv")
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None
    
    elif getAnswer() and getComplexity() and getAdditional() and getConcepts() and getWalkthrough() and getComments() and getMentorSupport():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook, "feedback_walkthrough":Walkthrough ,
              "feedback_experiments_input" : Comments,
              "feedback_mentor_support": Mentor_support}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:        
        print(r["err"])
        return None   
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions")
        #print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
        return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if not Additional: 
      raise NameError
    else:
      return Additional  
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None
  
  
def getWalkthrough():
  try:
    if not Walkthrough:
      raise NameError
    else:
      return Walkthrough
  except NameError:
    print ("Please answer Walkthrough Question")
    return None
  
def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None
  

def getMentorSupport():
  try:
    if not Mentor_support:
      raise NameError
    else:
      return Mentor_support
  except NameError:
    print ("Please answer Mentor support Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError 
    else: 
      return Answer
  except NameError:
    print ("Please answer Question")
    return None
  

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup() 
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

### Importing required packages

In [5]:
import pandas as pd

### Setting up the files

In [29]:
Train_set = "AIML_DS_MOVIE-TRAIN_SMALLSUBSETOFMOVIELENSDATASET.csv" 
Test_set = "AIML_DS_MOVIE-TEST_SMALLSUBSETOFMOVIELENSDATASET.csv"

### Loading the data from set up files

In [7]:
# YOUR CODE HERE: Load the training set data using pandas 'read_csv'function. Convert 'userId' and 'movieId' datatype into integer
rated = pd.read_csv(Train_set)
rated.head(5)

   userId  movieId  rating
0       0        0     2.5
1       0        1     3.0
2       0        2     3.0
3       0        3     2.0
4       0        5     2.0

In [19]:
rated.astype({'userId':'int','movieId':'int'})

       userId  movieId  rating
0           0        0     2.5
1           0        1     3.0
2           0        2     3.0
3           0        3     2.0
4           0        5     2.0
...       ...      ...     ...
80040     670     7005     2.5
80041     670     4771     4.0
80042     670     1329     4.0
80043     670     1331     2.5
80044     670     2946     3.5

[80045 rows x 3 columns]

In [20]:
userCount = max(rated['userId']) # YOUR CODE HERE : Find the maximum 'userId'
movieCount = max(rated['movieId'])# YOUR CODE HERE : Find the maximum 'movieId'
print(f"{userCount} , {movieCount}")

670 , 9065

In [21]:
# YOUR CODE HERE: Display first five rows from the dataset 'rated'.
rated.head(5)

   userId  movieId  rating
0       0        0     2.5
1       0        1     3.0
2       0        2     3.0
3       0        3     2.0
4       0        5     2.0

In [22]:
# User who have watched the movie are considered as 1 in the dictionary
seen = {}
for x in rated.values:
    seen[(int(x[0]), int(x[1]))] = 1        # Storing Key as (userId, movieId): value as 1 in dictionary

In [23]:
# Storing all matching possibilities of users and movies
allUsersMovies = [(u,m) for u in range(userCount) for m in range(movieCount)]

In [24]:
# If one particular match (user, movie) is not provided in data, then that user has not watched that movie, so it is considered as 0 in the dictionary
for x in allUsersMovies:
    if x not in seen:
        seen[x] = 0

Now we have the data loaded into a dictionary, let us recast the distance function to use it. Given two users, $u_1$ and $u_2$, for a movie $mx$, we must ignore the entries for $mx$ while computing the distance

In [27]:
'''
         RaOne | Batman  | Inception  | Virus
Rahul      0   |   1     |   0        |  1
Rakesh     1   |   1     |   1        |  0
distance = ( 0 * 1) + ( 1 * 1) + ( 0 * 1) + ( 1 * 0) = 1
'''
def distance(u1, u2, mx): 
   # Here u1= user1, u2= user2 and mx is the movie in consideration.
   # YOUR CODE HERE : Calculate the cosine distance and return its value.
   distance = 0
   for m in range(movieCount):
     distance += seen[(u1,m)] * seen[(u2,m)]
   
   # Deduct the distance for current movie before returning it
   distance -= seen[(u1,mx)] * seen[(u2,mx)]

   return distance

def kNN(k, givenUser, givenMovie):
    distances = []
    
    for u in range(userCount):
        if u != givenUser:
            distances.append([distance(u, givenUser, givenMovie), u])
            
    # YOUR CODE HERE: Sort the 'distance' values
    distances.sort()
    
    # YOUR CODE HERE: Reverse the 'distance' list and why we need to reverse the 'distances' list just think about it.
    distances.reverse()

    return distances[:k] 

def prediction(k, givenUser, givenMovie):
    # Call 'kNN' function defined above by passing 'k', 'givenUser' and 'givenMovie' as arguments.
    neighbours = kNN(k,givenUser,givenMovie)
    howmanySaw = sum([seen[(u, givenMovie)] for d, u in neighbours])
    return 2 * howmanySaw > k      # predict 1 (True) if more than half of the similar users have seen this movie, otherwise 0 (False).

In [30]:
test_data = pd.read_csv(Test_set)
test_data.head()

   userId  movieId  rating
0       0        4     4.0
1       0        9     2.0
2       0       13     4.0
3       0       16     2.0
4       0       17     2.5

In [31]:
# Take input from test data for prediction
prediction(5,0,4)

False

### Summary

In above experiment we have learnt how to build recommendation systems using KNN classifier.

# Please answer the questions below to complete the experiment:

In [32]:
#@title State True or False: In the experiment above, two users are considered nearest neighbors, if they both have watched same number of movies(not necessarily common movies)? { run: "auto", form-width: "500px", display-mode: "form" }
Answer = "FALSE" #@param ["","TRUE","FALSE"]

In [33]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "Good and Challenging for me" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [34]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "Everything looks good" #@param {type:"string"}

In [35]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "Yes" #@param ["","Yes", "No"]

In [36]:
#@title  Experiment walkthrough video? { run: "auto", vertical-output: true, display-mode: "form" }
Walkthrough = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [37]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [38]:
#@title Mentor Support: { run: "auto", vertical-output: true, display-mode: "form" }
Mentor_support = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [39]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id = return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")

Your submission is successful.
Ref Id: 2528
Date of submission:  20 Aug 2022
Time of submission:  15:52:25
View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions